{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load i18n %}

<!-- add CSS into <header> -->
{% block add_css %}{% endblock %}

<!-- add JS before </body> -->
{% block add_js %}
{% endblock %}
{% block content %}
<div class="span12">
<!-- BREADCRUMBS -->

<!-- BEGIN LEFT-SIDEBAR -->
                            <div id="left-sidebar" class="span2 sidebar">
<!-- LEFT-SIDEBAR: SIDEBAR NAVIGATION -->
                                <div class="side-nav sidebar-block">
                                    <h2>MENU</h2>
                                    <ul>
                                        {% show_menu 0 100 100 100 %}
                                    </ul>
                                </div>
                            </div>
<!-- END LEFT-SIDEBAR -->

<!-- BEGIN ARTICLE CONTENT AREA -->
    <div class="span8 main-column two-columns-left">
                                <h1>Dar-Bud<small>Nasza oferta: </small></h1>
                                <ul class="thumbnails">
                                {% placeholder  "oferta_text" %}
                                </ul>
                                <h2>{% placeholder  "oferta_title" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                <p>{% placeholder  "oferta_text1" %}</p>
                                <h2>{% placeholder  "oferta_title1" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                <p>{% placeholder  "oferta_text2" %}</p>
                                <div class="text-divider5">
                                    <span></span>
                                </div>

    </div>
 </div>

{% endblock %}



