{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load i18n %}

<!-- add CSS into <header> -->
{% block add_css %}{% endblock %}

<!-- add JS before </body> -->
{% block add_js %}
{% endblock %}
{% block content %}
<div class="span12">
<!-- BREADCRUMBS -->

<!-- BEGIN LEFT-SIDEBAR -->
                            <div id="left-sidebar" class="span2 sidebar">
<!-- LEFT-SIDEBAR: SIDEBAR NAVIGATION -->
                                <div class="side-nav sidebar-block">
                                    <h2>MENU</h2>
                                    <ul>
                                        {% show_menu 0 100 100 100 %}
                                    </ul>
                                </div>
                            </div>
<!-- END LEFT-SIDEBAR -->

<!-- BEGIN ARTICLE CONTENT AREA -->
    <div class="span8 main-column two-columns-left">
                                <h1>Dar-Bud<small>Nasza oferta: </small></h1>

                                {% placeholder  "oferta_text" %}

                                <h2>{% placeholder  "oferta_title" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text1" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text1_2" %}
                                    </tr>
                                </table>
                                <h2>{% placeholder  "oferta_title1" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text2" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text2_1" %}
                                    </tr>
                                    </table>
                                <h2>{% placeholder  "oferta_title2" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text3" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text3_1" %}
                                    </tr>
                                    </table>
                                <h2>{% placeholder  "oferta_title3" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text4" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text4_1" %}
                                    </tr>
                                    </table>
                                <h2>{% placeholder  "oferta_title4" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text5" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text5_1" %}
                                    </tr>
                                    </table>
                                <h2>{% placeholder  "oferta_title5" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text6" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text6_1" %}
                                    </tr>
                                    </table>

                                <h2>{% placeholder  "oferta_title6" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text7" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text7_1" %}
                                    </tr>
                                    </table>

                                <h2>{% placeholder  "oferta_title7" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text8" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text8_1" %}
                                    </tr>
                                    </table>

                                <h2>{% placeholder  "oferta_title8" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text9" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text9_1" %}
                                    </tr>
                                    </table>

                                <h2>{% placeholder  "oferta_title9" %}</h2>
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                     <table class="table">
                                    <tr>
                                {% placeholder  "oferta_text10" %}
                                    </tr>
                                    <tr>
                                    {% placeholder  "oferta_text10_1" %}
                                    </tr>
                                    </table>

{#                                <h2>{% placeholder  "oferta_title10" %}</h2>#}
{#                                <div class="text-divider5">#}
{#                                    <span></span>#}
{#                                </div>#}
{#                                     <table class="table">#}
{#                                    <tr>#}
{#                                {% placeholder  "oferta_text11" %}#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                    {% placeholder  "oferta_text11_1" %}#}
{#                                    </tr>#}
{#                                    </table>#}


    </div>
 </div>

{% endblock %}



