{% extends "base.html" %}
{% load cms_tags menu_tags i18n comments zinnia_tags sekizai_tags zinnia_tags %}
{% load i18n %}
<!-- add CSS into <header> -->
{% block add_css %}{% endblock %}

<!-- add JS before </body> -->
{% block add_js %}
{% endblock %}
{% block content %}
 <div class="col-wrapper">
                <h1>{% placeholder "realizacje_title" %}</h1>


    <div class="portfolio-nav">
<!-- SET PORTFOLIO NAV FILTERS HERE -->
					<ul id="filters" data-option-key="filter" class="nav nav-pills nav-pills-portfolio">
                        <li class="active"><a href="#" data-toggle="pill" data-filter="*">Wszystkie</a></li>
                        {% get_plain_categories %}
                    </ul>


                </div>
     <div class="portfolio-grid-1 main-block">
        <ul id="gallery" class="thumbnails">
            {% placeholder "realizacje" %}
        </ul>
     </div>
 </div>
{% endblock %}