{% load sekizai_tags i18n %}

{% addtoblock "css" %}{% endaddtoblock %}
{% addtoblock "js" %}

{% endaddtoblock %}

<div class="container">

                <div class="bannercontainer" >
                    <div class="banner" >

                        <ul>
          {% for slide in slides %}
          {% if slide.published %}
          <li class="slide{{ forloop.counter }}" data-transition="boxfade" data-slotamount="5"  data-masterspeed="300">
          {% if slide.img %}
               <img alt="" src="{{slide.img.url}}" />
          {% endif %}
              <div class="caption sfl carousel-caption" data-x="0" data-y="238" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none; padding-left: 0; width: 781px;">
                <p class="big">{% get_current_language as LAN %}{% if LAN == "pl" %}{{ slide.title|safe }}{% else %}Build with Bertrand's!{% endif %}</p>
              </div>

          {% if slide.description %}
              <div class="caption sfb carousel-caption" data-x="0" data-y="281" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0; width:781px;">
                <p class="small">{{ slide.description|safe }}</p>
              </div>

          {% endif %}

          </li>
        {% endif %}

      {% endfor %}

      {% if slides|length > 1 %}

      {% endif %}
        </ul>
     </div>
</div>
</div>


